@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "DrukCyr";

  font-display: swap;
  src:
    url("../fonts/DrukCyr/DrukCyr-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "DrukCyr";

  font-display: swap;
  src:
    url("../fonts/DrukCyr/DrukCyr-Super.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "DrukWide";

  font-display: swap;
  src:
    url("../fonts/DrukWide/DrukWide-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "DrukWide";

  font-display: swap;
  src:
    url("../fonts/DrukWide/DrukWide-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "DrukWide";

  font-display: swap;
  src:
    url("../fonts/DrukWide/DrukWide-Super.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "DrukTextWide";

  font-display: swap;
  src:
    url("../fonts/DrukTextWide/DrukTextWide-Medium.woff2") format("woff2");
}


