// 100 Thin (Hairline) | 200 Extra Light (Ultra Light) | 300 Light | 400Normal (Regular) | 500 Medium |
// 600 Semi Bold (Demi Bold) | 700 Bold | 800 Extra Bold (Ultra Bold) | 900 Black (Heavy) | 950 Extra Black (Ultra Black)


// Modern format (woff + ttf)
@mixin font($family, $filePath, $weight: normal, $style: normal) {

  @font-face {
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    src: url("#{$filePath}.woff2") format("woff2");
    font-display: swap;
  }

}


// example
@include font('Montserrat', '../fonts/Montserrat/Montserrat-Regular', 400);
@include font('Montserrat', '../fonts/Montserrat/Montserrat-Medium', 500);
@include font('Montserrat', '../fonts/Montserrat/Montserrat-SemiBold', 600);
@include font('Montserrat', '../fonts/Montserrat/Montserrat-Bold', 700);
@include font('Montserrat', '../fonts/Montserrat/Montserrat-ExtraBold', 800);
@include font('Montserrat', '../fonts/Montserrat/Montserrat-Black', 900);
@include font('Druk', '../fonts/Druk/DrukCyr-Medium', 500);
@include font('Druk', '../fonts/Druk/DrukCyr-Bold', 700);
@include font('Druk', '../fonts/Druk/druktextwidecyr-super', 900);