.header {
  position: relative;
  width: 1300px;
  min-width: 1300px;
  height: 100px;
  margin: 0 auto;

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 1;
    margin: 21px 0 0;
  }

  &__prize {
    position: absolute;
    top: 9px;
    left: 315px;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    opacity: 0;
    transition: opacity .3s, transform .3s;
  }

  &__prize-fig {}

  &__prize-text {}

  &__bonus {
    position: absolute;
    top: 4px;
    left: 286px;
    display: flex;
    gap: 25px;
    transform: translateX(70px);
    transition: transform .5s;
  }

  &__bonus-cup {
    width: 96px;

    canvas {
      width: 100%;
    }
  }

  &__bonus-text {
    position: relative;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__bonus-text-first {
    font-size: 24px;

    b {
      font-size: 33px;
    }

    p {
      &:last-child {
        &::after {
          display: inline-block;
          margin: 0 0 0 3px;
          font-size: 12px;
          vertical-align: super;
          transform: translateY(-5px);
          content: '**';
        }
      }


    }
  }

  &__bonus-text-second {
    position: absolute;
    top: 0;
    left: 0;
    margin: 11px 0 0;
    font-size: 23px;
    line-height: 1;

    b {
      font-weight: 900;
      font-size: 35px;
    }

    p:last-child {
      &::after {
        display: inline-block;
        margin: 0 0 0 3px;
        color: #06DCFF;
        font-size: 12px;
        vertical-align: super;
        transform: translateY(-10px);
        content: '*';
      }
    }
  }


  &__right {
    width: 264px;
    margin: 16px 40px 0 0;
    transition: all .3s;
  }

  &__an-btn.an-btn {
    height: 46px;
    font-size: 21px;
    border-radius: 8px;
  }

  &__right-text {
    margin: 4px -29px 0 0;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
    transition: opacity .3s;
  }

  &__reklama {
    position: absolute;
    bottom: 23px;
    display: flex;
  }

  &__reklama-18 {
    width: 26px;
    margin: 0 5px 0 17px;
  }

  &__reklama-text {
    width: 130px;
    height: auto;
    margin: 2px 0 0;
  }

  &__bottom {
    position: absolute;
    bottom: 5px;
    left: 12px;
    width: 99%;
    overflow: hidden;
  }

  &__textline {
    z-index: 3;
    color: #B0C3F7;
    font-weight: 400;
    font-weight: 100;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-family: sans-serif;
    white-space: nowrap;
    transform: translateZ(1px) translateX(0);
    backface-visibility: hidden;
    animation: moveTextRow 30s linear infinite;
    will-change: transform;
  }
}

@keyframes moveTextRow {
  0% {
    transform: translateZ(1px) translateX(0)
  }

  to {
    transform: translateZ(1px) translateX(calc(-100% - 67.4em))
  }
}