<!DOCTYPE html>
<html lang="ru">

{% include "head.html" %}

<body>
	<section class="hero">
		<picture>
			<source srcset="img/page/bg-mob.jpg" type="image/jpeg" media="(max-width: 767.98px)">
			<img class="hero__bg" src="img/page/bg.jpg" alt="">
		</picture>
		<div class="hero__star hero__star--1">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<div class="hero__star hero__star--2">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<div class="hero__star hero__star--3">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<div class="hero__star hero__star--4">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<div class="hero__star hero__star--5">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<div class="hero__star hero__star--6">
			<canvas class="js_canvas" data-name="star" width="506" height="506"></canvas>
		</div>
		<span class="hero__ball hero__ball--1 js_anim-el"></span>
		<span class="hero__ball hero__ball--white hero__ball--2 js_anim-el"></span>
		<span class="hero__ball hero__ball--3 js_anim-el"></span>
		<span class="hero__ball hero__ball--4 js_anim-el"></span>
		<span class="hero__ball hero__ball--white hero__ball--5 js_anim-el"></span>
		<span class="hero__ball hero__ball--6 js_anim-el"></span>
		<span class="hero__ball hero__ball--white hero__ball--7 js_anim-el"></span>
		<span class="hero__ball hero__ball--white hero__ball--8 js_anim-el"></span>
		{% include "header.html" %}
		<main class="hero__content">
			<div class="container">
				<div class="hero__wrap">
					<div class="hero__gr">
						<div class="hero__gr-inner">
							<canvas class="js_canvas" data-name="gr" width="1000" height="350"></canvas>
						</div>
					</div>
					<h1 class="hero__title"><span>100&nbsp;000&nbsp;&#8381;</span><br> Новым игрокам</h1>
					<ul class="hero__list">
						<li>Зарегистрируйся</li>
						<li>Пополни счет</li>
						<li>
							<p>Делай ставки и&nbsp;получай фрибет<sup>**</sup>&nbsp;50% от&nbsp;депозита</p>
						</li>
					</ul>
					<div class="hero__actions">
						<a class="hero__btn btn" href="https://betcity.ru/ru/reg" target="_blank">получить бонус</a>
						<a class="hero__btn btn btn--transparent" href="https://betcity.ru/?login=1" target="_blank">УЖЕ
							КЛИЕНТ</a>
					</div>
				</div>
			</div>
		</main>
		{% include "footer.html" %}
	</section>
	{% include "modal.html" %}
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	<script src="./js/gr.js"></script>
	<script src="./js/star.js"></script>
	<script src="./js/app.min.js"></script>
	<script type="text/javascript" src="https://fcdn.betcity.ru/libs/qr-generator-1.0.0.min.js"></script>
	<script type="text/javascript" src="https://fcdn.betcity.ru/libs/adjust-link-generator-1.0.0.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			// ADJUST LINKS
			const defaultAndStaticParams = {
				adj_adgroup: 'newyear_100000',
				adj_campaign: '2212',
				adj_creative: 'digital_land',
				adj_label: 'https://betcity.ru/ru/reg',
				adj_t: '12uw73kb_1258v1lq'
			};

			const link = window['createAdjustLink'].call(this, 'https://betcity.go.link', defaultAndStaticParams);

			const element = document.getElementById('downloadApp');
			if (element && element.hasAttribute('href')) {
				element.setAttribute('href', link);
			};


			// QR
			const options = {
				color: "#0092F3",
				dotsType: 'extra-rounded',
				cornersSquareType: 'extra-rounded',
				withImage: true,
				imageURL: 'img/page/icoqr.png',
			};

			window['addQR'].call(this, link, ['qr'], options);
		});
	</script>
</body>

</html>