body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: sans-serif;
  font-size: 19px;
  color: #fff;
  font-family: 'StyreneALC';
}

.body-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 900px;
  width: 1600px;
  margin: 0 auto;
  text-decoration: none;
}

.fluid-center-block {
  width: 1080px;
  min-width: 1080px;
  display: block;
}

.body-wrap__bg {
  top: 0;
  right: 0;
  width: 100%
}

.banner-text {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  &__top {
    display: inline-block;
    color: #06DCFF;
    font-weight: 700;
    font-family: 'Nekst';
    white-space: nowrap;

    &::after {
      content: '*';
      display: inline-block;
      margin: 5px 0 0 -10px;
      font-size: 14px;
      vertical-align: top;
    }

    span {
      display: inline-block;
      transform: translateY(-6px);
    }
  }

  &__bottom {
    position: relative;

    span {
      font-size: 20px;
      margin: 0 0 0 2px;
    }
  }

  &--aside {

    .banner-text__top {
      font-size: 24px;
      margin: 0 0 3px;

      &::after {
        margin: 3px 0 0 -5px;
        font-size: 6px;
      }

      span {
        transform: translateY(-3px);
      }
    }

    .banner-text__bottom {
      font-size: 20px;
      margin: 2px 0 0;

      span {
        font-size: 25px;

      }
    }
  }
}

.text-anim {
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity .3s, transform .3s;

  &.animate {
    animation: move-text .8s ease-in-out forwards;
  }

  &--2 {

    &.animate {
      animation: move-text .8s ease-in-out .3s forwards;
    }
  }

  &--3 {

    &.animate {
      animation: move-text .8s ease-in-out .5s forwards;
    }
  }

}


@keyframes move-text {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  80% {
    opacity: 1;
    transform: translateY(3px);
  }

  90% {
    opacity: 1;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
