.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50rem;
  min-height: 9.6rem;
  padding: 0 2rem;
  color: $c-white;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  background: $c-red;
  background: #E52D4E;
  border-radius: 10px;
  transition: background .3s, color .3s;

  @include tablet {
    min-width: 350px;
    min-height: 50px;
    font-size: 18px;
  }

  @include phone {
    min-width: 100%;
    min-height: 51px;
    font-size: 16px;
  }


  &:hover {
    background: darken($color: #E52D4E, $amount: 5%);
  }
}