.hero {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__football {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 43.9rem;

    @include tablet {
      width: 200px;
    }

    @include phone {
      width: 150px;
    }
  }

  &__basketball {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 47.9rem;

    @media (max-width: 1500px) {
      width: 45rem;
    }

    @include tablet {
      width: 300px;
    }

    @include phone {
      width: 250px;
    }
  }

  &__gift {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50.9rem;

    @media (max-width: 1500px) {
      width: 45rem;
    }

    @include tablet {
      width: 250px;
    }

    @include phone {
      width: 190px;
    }
  }

  &__cone {
    position: absolute;
    top: -12.8rem;
    left: 29%;
    z-index: -1;
    width: 25.4rem;

    @include tablet {
      top: -80px;
      width: 150px;
    }

    @include phone-big {
      left: 49%;
      width: 91px;
    }
  }

  &__puck {
    position: absolute;
    top: 0;
    left: 65%;
    z-index: -1;
    width: 31.4rem;

    @include tablet {
      display: none;
    }
  }

  &__puck2 {
    position: absolute;
    bottom: 1%;
    left: 22%;
    z-index: -1;
    width: 29.1rem;

    @include tablet {
      bottom: 18%;
      width: 120px;
    }

    @include phone {
      bottom: 126px;
      left: 19%;
      width: 105px;
    }
  }

  &__twist {
    position: absolute;
    top: 22%;
    left: 3%;
    z-index: -1;
    width: 38.3rem;

    @include tablet {
      width: 150px;
    }

    @include phone {
      top: 203px;
      left: 19%;
      width: 100px;
      transform: rotate(57deg);
    }
  }

  &__twist2 {
    position: absolute;
    top: 23%;
    left: 80%;
    z-index: -1;
    width: 30.5rem;

    @include tablet {
      width: 160px;
    }

    @include phone {
      top: 195px;
      left: 78%;
      width: 130px;
      transform: rotate(-76deg);
    }
  }


  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 11rem 0 14rem;

    @include tablet {
      padding: 90px 0;
    }

    @include phone {
      height: 100svh;
      min-height: auto;
      padding: 86px 0 60px;
    }
  }

  &__title {
    margin: 0 0 1.6rem;
    font-weight: 900;
    font-size: 7.3rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      font-size: 32px;
    }

    @include phone-big {
      font-size: 28px;
    }

    @include phone {
      font-size: 26px;
    }

    span {
      font-size: 17.4rem;
      @include text-gradient;

      @include tablet {
        font-size: 100px;
      }

      @include phone-big {
        font-size: 75px;
      }

      @include phone {
        display: inline-block;
        margin: 0 0 -4px;
        font-size: 63px;
      }
    }
  }

  &__subtitle {
    margin: 0 0 2rem;
    font-size: 4.8rem;
    line-height: 1;
    @include text-gradient;

    @include tablet {
      margin: 0 0 80px;
      font-size: 32px;
    }

    @include phone-big {
      font-size: 26px;
    }

    @include phone {
      font-size: 20px;
    }

    b {
      font-weight: 900;
    }
  }

  &__list {
    margin: auto 0;
    padding: 0 0 0 2rem;

    @media (min-height: 1350px) {
      margin: 2rem 0;
    }

    @include tablet {
      margin: 0;
    }

    li {
      list-style-type: disc;

      &:not(:last-child) {
        margin: 0 0 .5rem
      }

      span,
      b {
        @include text-gradient;
      }
    }
  }

  &__info {
    margin: 1.6rem 0 4rem;
    font-size: 2.4rem;
    @include text-gradient;

    @include tablet {
      font-size: 16px;
    }

    @include phone-big {
      font-size: 14px;
    }

    @include phone {
      align-self: flex-start;
      font-size: 12px;
    }

  }

  &__btn {

    @include tablet {
      margin: auto 0 0;
    }
  }

  &__mouse {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    width: 9.2rem;
    height: 9.2rem;
    transform: translate(-50%, 0);
    animation: bounce 2s infinite 2s;

    @include tablet {
      display: none;
    }
  }

  &--second {
    .hero__wrap {
      @include phone {
        height: 100dvh;
      }
    }

    .hero__cone {
      top: auto;
      bottom: 13%;
      left: 12%;

      @media (max-width: 1500px) {
        bottom: 12%;
      }

      @include tablet {
        bottom: 22%;
        left: 15%;
        width: 100px;
      }

      @include phone {
        top: 218px;
        bottom: auto;
        left: 23%;
        width: 63px;
        transform: rotate(-59deg);
      }
    }

    .hero__puck {
      left: 26%;
      width: 32.9rem;
    }

    .hero__puck2 {
      top: 23%;
      bottom: auto;
      left: 4%;
      width: 31.8rem;

      @include tablet {
        left: 80%;
        width: 150px;
      }

      @include phone-big {
        right: 0;
        left: auto;
        width: auto;
      }

      @include phone {
        top: 190px;
      }
    }

    .hero__puck3 {
      position: absolute;
      top: 22%;
      left: 78%;
      width: 38.7rem;

      @include tablet {
        display: none;
      }
    }

    .hero__twist {
      top: -13rem;
      left: 68%;
      width: 33.2rem;

      @include tablet {
        top: -40px;
        left: 45%;
        width: 150px;
      }

      @include phone {
        top: -14px;
        left: 170px;
        width: 85px;
      }
    }

    .hero__twist2 {
      top: auto;
      bottom: 0;
      left: -15rem;
      width: 38.9rem;

      @include tablet {
        left: -50px;
        width: 150px;
      }

      @include phone {
        bottom: 48px;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translate(-50%, 0);
  }

  40% {
    transform: translate(-50%, -10px);
  }

  60% {
    transform: translate(-50%, -5px);
  }
}