// colors
$c-black-main: #000000;
$c-white: #ffffff;
$c-red: #E80024;
$c-text-dark            : #2a2a2a;
$c-text--global         : #ffffff;
$c-body-bg              : #2a2a2a;
$c-popup-bg             : #2a2a2a;


// typography
$f-size-h2                  : 10rem;
$f-lh-h2                    : 0.85;
$f-weight-h2                : 800;
$f-family--stapel           : 'Stapel', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : 'CeraPro', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 400;
$f-size--global     : 2rem;
$l-height--global   : 1.2;

