
.s-hero__title-top {
  font-size: 250%;
  line-height: 1.3;
  color:white;
}



.s-hero__title-top .blue {
  color:#06DCFF;
}

.app-link {
  color:white !important;
}


@media print, screen and (max-width: 47.99875em) {
.s-hero__title-top {
    font-size: 170%;
    text-align: left;
}
._mobile-reg .s-hero__content  {
 margin-top:0;
 }

 .s-hero__content-info {
   padding-bottom: 76vw !important;
 }

 .s-hero__header .b-logo {
    width: 40vw;
}



.section-bg .bg-img {
    background-position: 50% 50%;
}

.section-bg .bg-img._mob:before{
  position: absolute;
  top:0;
  width:100vw;
  height: 20vh;
  content: "";
  background: rgb(6,9,62);
  background: -moz-linear-gradient(180deg, rgba(6,9,62,1) 0%, rgba(6,9,62,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(6,9,62,1) 0%, rgba(6,9,62,0) 100%);
  background: linear-gradient(180deg, rgba(6,9,62,1) 0%, rgba(6,9,62,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06093e",endColorstr="#06093e",GradientType=1);
}
}


.popup-rules table {
  margin: 1em 0;

}

@media print, screen and (min-width: 48em){
.s-hero__bg-main.bg-img {
    background-position: 50% 90% !important;
}

}


.popup-rules table thead tr td {
  font-weight: bold;
  padding: 1.5em;
border: 1px solid rgba(255, 255, 255, 0.3) !important;

}

.popup-rules table tr td {
  text-align: center;
  padding: 0.5em;
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.popup-rules table tr td:nth-child(2) {
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* mobile */
@media screen and (max-width: 767px){
  .theme-form-aside ._mobile-reg .s-hero__content-info._column-content{
    padding-bottom: 0!important;
    margin-top: 0!important;
    align-self: flex-start;
  }
  ._mobile-reg .s-hero__header{position: absolute;left: 0;width: 100%;top: 0;}
  ._mobile-reg .s-hero__content{
    margin-top: 0;
    padding-top: 40px;
    padding-top: calc(20px + 5vw);
    min-height: calc(var(--vh, 1vh)*100 - 42px);
  }
  ._mobile-reg .s-hero__footer{
    position: relative;
    padding-bottom: 8px;
    min-height: 42px;
  }
  .s-hero__footer-copy > .column{padding-right: 0;}

  @media screen and (max-height: 570px) {
    ._mobile-reg .s-hero__content{
      min-height: calc(var(--vh, 1vh)*100 - 0px);
    }
  }
}
