// colors
$c-black: #000000;
$c-white: #ffffff;
$c-gold: #BF9844;
$c-text--global         : #ffffff;
$c-body-bg              : #000000;
$c-popup-bg             : #ffffff;


// typography
$f-size-h1                  : 6.4rem;
$f-lh-h1                    : 1;
$f-weight-h1                : 700;
$f-size-h2                  : 30px;
$f-lh-h2                    : 1.4;
$f-weight-h2                : 700;
$f-size-h3                  : 20px;
$f-lh-h3                    : 1.4;
$f-weight-h3                : 500;
$f-size-p1                  : 16px;
$f-lh-p1                    : 1.375;
$f-size-p3                  : 12px;
$f-lh-p3                    : 1.5;
$f-family--montserrat       : 'Montserrat', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-family--druk       : 'Druk', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : 'Belgro', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 900;
$f-size--global     : 2.4rem;
$l-height--global   : 1.25;

