<div class="modal-form">
  <h2 class="modal-form__title">ЗАЯВКА</h2>
  <form>
    <label class="modal-form__label">
      <p class="modal-form__label-name">ВАШЕ ИМЯ</p>
      <input class="modal-form__input" type="text" name="name" required>
    </label>
    <label class="modal-form__label">
      <p class="modal-form__label-name">ВАШ ТЕЛЕФОН</p>
      <input class="modal-form__input" type="tel" name="tel" required>
    </label>
    <label class="modal-form__label">
      <p class="modal-form__label-name">Комментарий</p>
      <textarea class="modal-form__textarea" name="message"></textarea>
    </label>

    <button class="modal-form__btn btn btn--black">ОТПРАВИТЬ</button>
  </form>
</div>
