body {
  height: 100%;
  color: #ffffff;
  font-size: 19px;
  font-family: sans-serif;
  font-family: StyreneALC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-decoration: none;
}

.fluid-center-block {
  display: block;
  width: 1080px;
  min-width: 1080px;
}


.banner-text {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;

  &__top {
    color: #06DCFF;
    font-size: 53px;
    font-family: Nekst;

    span {
      &:first-child {
        display: inline-block;
        transform: translateY(-0.1em);
      }

      &:last-child {
        display: inline-block;
        margin: -2px 0 0;
        font-size: 18px;
        vertical-align: top;
      }
    }
  }

  &__bottom {
    margin: 7px 0 0;
    font-weight: 900;
    font-size: 22px;
  }

  &--aside {
    text-align: center;

    .banner-text__top {
      font-size: 25px;


      span {
        &:last-child {
          margin: 0;
          font-size: 13px;
        }
      }
    }

    .banner-text__bottom {
      margin: 0;
      font-size: 11px;
    }
  }
}

.second-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  &__head {
    margin: 0 0 12px;
    color: #06DCFF;
    font-weight: 400;
    font-size: 27px;
    text-transform: uppercase;

    p {
      &:nth-child(2),
      &:last-child {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        color: rgb(6 220 255 / 10%);
      }

      &:last-child {
        top: 13px;
        color: rgb(6 220 255 / 5%);
      }
    }
  }
}

.text-anim {
  transform: translateY(-50px);
  opacity: 0;
  transition: opacity .3s, transform .3s;

  &.animate {
    animation: move-line-text 8s ease-in-out infinite;
  }

  &--2 {
    &.animate {
      animation: move-line-text2 8s ease-in-out infinite;
    }
  }

  &--3 {
    &.animate {
      animation: move-line-text3 8s ease-in-out infinite;
    }
  }

  &--4 {
    &.animate {
      animation: move-line-text4 8s ease-in-out infinite;
    }
  }

  &--side {
    &.animate {
      animation: move-line-text-side 4s ease-in-out forwards;
    }

    &.text-anim--2 {
      &.animate {
        animation: move-line-text-side2 4s ease-in-out forwards;
      }
    }
  }
}

.scale-num {
  transition: transform .3s;

  &.animate {
    animation: scale-num 4s infinite;
  }

  &--2 {
    &.animate {
      animation: scale-num2 4s infinite;
    }
  }

  &--3 {
    &.animate {
      animation: scale-num3 4s infinite;
    }
  }
}

.move-logo-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity .3s, transform .3s;

  &.animate {
    animation: move-logo-left 8s ease-in-out infinite;
  }

  &--2 {
    &.animate {
      animation: move-logo-left2 8s ease-in-out infinite;
    }
  }

}

.move-logo-right {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity .3s, transform .3s;

  &.animate {
    animation: move-logo-right 8s ease-in-out infinite;
  }

  &--2 {
    &.animate {
      animation: move-logo-right2 8s ease-in-out infinite;
    }
  }

}

@keyframes move-line-text-side {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  12% {
    transform: translateY(3px);
    opacity: 1;
  }

  16%,
  100% {
    transform: translateY(-3px);
    opacity: 1;
  }
}

@keyframes move-line-text-side2 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  18% {
    transform: translateY(3px);
    opacity: 1;
  }

  22%,
  100% {
    transform: translateY(-3px);
    opacity: 1;
  }
}

@keyframes move-line-text {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  4% {
    transform: translateY(3px);
    opacity: 1;
  }

  6% {
    transform: translateY(-3px);
    opacity: 1;
  }

  8%,
  40% {
    transform: translateY(0);
    opacity: 1;
  }

  42% {
    transform: translateY(-3px);
    opacity: 1;
  }

  47%,
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes move-line-text2 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  6% {
    transform: translateY(3px);
    opacity: 1;
  }

  8% {
    transform: translateY(-3px);
    opacity: 1;
  }

  10%,
  42% {
    transform: translateY(0);
    opacity: 1;
  }

  44% {
    transform: translateY(-3px);
    opacity: 1;
  }

  48%,
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes move-line-text3 {

  0%,
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }

  54% {
    transform: translateY(3px);
    opacity: 1;
  }

  56% {
    transform: translateY(-3px);
    opacity: 1;
  }

  58%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }

  92% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes move-line-text4 {

  /* stylelint-disable-next-line rule-empty-line-before */
  0%,
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }

  56% {
    transform: translateY(3px);
    opacity: 1;
  }

  58% {
    transform: translateY(-3px);
    opacity: 1;
  }

  60%,
  92% {
    transform: translateY(0);
    opacity: 1;
  }

  94% {
    transform: translateY(-3px);
    opacity: 1;
  }

  98%,
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes scale-num {
  0% {
    transform: scale(1);
  }

  8% {
    transform: scale(0);
  }

  12% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.2);
  }

  16% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-num2 {

  0%,
  4% {
    transform: scale(1);
  }

  12% {
    transform: scale(0);
  }

  16% {
    transform: scale(1);
  }

  18% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-num3 {

  /* stylelint-disable-next-line rule-empty-line-before */
  0%,
  8% {
    transform: scale(1);
  }

  16% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  22% {
    transform: scale(1.2);
  }

  24% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes move-logo-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  5% {
    transform: translateX(3px);
    opacity: 1;
  }

  8% {
    transform: translateX(0);
    opacity: 1;
  }

  46% {
    transform: translateX(0);
    opacity: 1;
  }

  50%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes move-logo-left2 {

  /* stylelint-disable-next-line rule-empty-line-before */
  0%,
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }

  55% {
    transform: translateX(3px);
    opacity: 1;
  }

  58% {
    transform: translateX(0);
    opacity: 1;
  }

  96% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes move-logo-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  5% {
    transform: translateX(-3px);
    opacity: 1;
  }

  8% {
    transform: translateX(0);
    opacity: 1;
  }

  46% {
    transform: translateX(0);
    opacity: 1;
  }

  50%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes move-logo-right2 {

  /* stylelint-disable-next-line rule-empty-line-before */
  0%,
  50% {
    transform: translateX(100%);
    opacity: 0;
  }

  55% {
    transform: translateX(-3px);
    opacity: 1;
  }

  58% {
    transform: translateX(0);
    opacity: 1;
  }

  96% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}