.aside {
  padding: 53px 0 0;


  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 124px;
    margin: 0 6px;

  }

  &__logo {
    width: 104px;
    margin: 0 auto 28px;

    svg {
      max-width: 100%;
    }
  }

  &__content {
    position: relative;
  }

  &__content-text {
    min-height: 60px;
    margin: 0 0 0 13px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__content-text-first {
    font-weight: 400;
    font-size: 12px;

    p {
      b {
        font-weight: 900;
        font-size: 18px;
      }

      &:last-child {
        &::after {
          display: inline-block;
          margin: 0 0 0 3px;
          font-size: 8px;
          vertical-align: super;
          transform: translateY(-2px);
          content: '**';
        }
      }
    }
  }

  &__content-text-second {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 13px;

    b {
      font-weight: 900;
      font-size: 20px;
    }

    p:last-child {
      &::after {
        display: inline-block;
        margin: 0 0 0 3px;
        color: #06DCFF;
        font-size: 10px;
        vertical-align: super;
        transform: translateY(-10px);
        content: '*';
      }
    }
  }

  &__cup {
    width: 29px;
    margin: 23px auto 0;

    canvas {
      width: 100%;
    }
  }

  &__an-btn {
    width: 95%;
    margin: 3px auto 0;
    font-size: 14px;

  }
}