body {
  height: 100%;
  color: #ffffff;
  font-size: 19px;
  font-family: sans-serif;
  font-family: StyreneALC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

b {
  font-weight: 900;
}

.body-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-decoration: none;


  &--first {
    .text-animate--first {
      p {
        transform: translateY(-100px);
        opacity: 1;
        animation: fadeInOut1 5s ease-in-out forwards;

        &:last-child {
          animation-delay: .05s;
        }
      }
    }
  }

  &--second {
    .text-animate--second {
      p {
        transform: translateY(100px);
        opacity: 1;
        animation: fadeInOut2 5s ease-in-out forwards;

        &:last-child {
          animation-delay: .05s;
        }
      }
    }

    .header__prize {
      transform: translateY(100px);
      opacity: 1;
      animation: fadeInOut2 5s ease-in-out forwards;
    }

    .header__bonus {
      transform: translateX(330px);
    }

    .header__right-text {
      display: block;
      opacity: 0;
    }

    .aside__content-text-second {
      font-size: 8px;
    }
  }

  &.mq {
    .header,
    .fluid-center-block {
      width: 1183px;
      min-width: 1183px;
    }

    .header__logo {
      margin: 37px 0 0 11px;

      svg {
        width: 218px;
      }
    }

    .header__prize {
      top: 25px;
      left: 278px;
    }

    .header__prize-text {
      width: 130px;
    }

    .header__bonus {
      top: 22px;
      transform: translateX(48px);
    }

    .header__bonus-text-first {
      font-size: 27px;

      p {
        &:last-child {
          font-size: 38px;
        }
      }
    }

    .header__bonus-text-second {
      margin: 11px 0 0;
      font-size: 16px;

      p:last-child {
        margin: 5px 0 0;
        font-size: 16px;
      }

      img {
        width: 240px;
      }
    }

    &.body-wrap--second {
      .header__bonus {
        transform: translateX(203px);
      }
    }

    .header__right {
      width: 224px;
      margin: 45px 29px 0 0;
    }

    .header__an-btn.an-btn {
      height: 36px;
      font-size: 16px;
    }

    .header__right-text {
      margin: 18px -8px 0 0;
    }
  }
}

.fluid-center-block {
  display: block;
  width: 1427px;
  min-width: 1427px;
}

.blue {
  color: #06DCFF;
}

.logo-animate {
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: space-between;

  path {
    opacity: 0;
    transition: opacity .3s, transform .3s;
    animation: fadeInOutLogo 10s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: .20s;
    }

    &:nth-child(2) {
      animation-delay: .30s;
    }

    &:nth-child(3) {
      animation-delay: .40s;
    }

    &:nth-child(4) {
      animation-delay: .50s;
    }

    &:nth-child(5) {
      animation-delay: .60s;
    }

    &:nth-child(6) {
      animation-delay: .70s;
    }
  }
}

.text-animate {
  overflow: hidden;

  p {
    opacity: 0;
    transition: opacity .3s, transform .3s;
  }
}

@keyframes fadeInOut1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  12% {
    transform: translateY(3px);
    opacity: 1;
  }

  16% {
    transform: translateY(-3px);
    opacity: 1;
  }

  20%,
  84% {
    transform: translateY(0);
    opacity: 1;
  }

  88% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeInOut2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  12% {
    transform: translateY(-3px);
    opacity: 1;
  }

  16%,
  84% {
    transform: translateY(0);
    opacity: 1;
  }

  88% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeInOutLogo {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  8% {
    transform: translateX(10px);
    opacity: 1;
  }

  11% {
    transform: translateX(20px);
    opacity: 1;
  }

  13%,
  80% {
    transform: translateX(15px);
    opacity: 1;
  }

  85% {
    transform: translateX(25px);
    opacity: 1;
  }

  95%,
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}