.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: #19184F;

  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.animate {
      animation: showBg 1s forwards;
    }
  }

}

@keyframes showBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
