<!DOCTYPE html>
<html lang="ru">

{% include "head.html" %}

<body>
	<div class="wrapper">
		{% include "header.html" %}
		<main>
			<section class="hero">
				<div class="hero__border">
					<picture>
						<source srcset="img/hero/border-mob.png" type="image/png" media="(max-width: 778px)">
						<img src="img/hero/border.png" alt="">
					</picture>
				</div>
				<div class="hero__emblem">
					<img src="img/hero/emblem.svg" alt="">
				</div>
				<div class="hero__est">
					<div class="hero__est-item"><span>est</span> <span>1994</span></div>
					<div class="hero__est-item"><span>est</span> <span>1994</span></div>
					<div class="hero__est-item"><span>est</span> <span>1994</span></div>
				</div>
				<div class="container">
					<h1 class="hero__title">ИГРАЕМ <span><span>по-</span>НАСТОЯЩЕМУ</span></h1>
					<div class="hero__wrap">
						<div class="hero__info">
							<p class="hero__descr">Команда амбассадоров Fonbet вместе с&nbsp;болельщиками меняет спортивную среду
								благодаря<br> по-настоящему важным проектам.</p>
							<a class="hero__btn btn js_scroll-link" href="#join">Присоединяйся!</a>
						</div>
						<div class="hero__img">
							<img src="img/hero/photo.gif" alt="">
						</div>
					</div>
				</div>
			</section>

			<section class="about" id="about">
				<div class="about__text">
					<img src="img/about/about.png" alt="">
				</div>
				<div class="container">
					<div class="about__wrap">
						<div class="about__info">
							<h2 class="about__title">Fonteam&nbsp;&mdash; это команда героев современного спорта: от&nbsp;молодых
								звезд
								до&nbsp;легенд, от&nbsp;блогеров до&nbsp;журналистов.</h2>
							<div class="about__descr">
								<p>Мы&nbsp;собрались, чтобы бросить себе вызов в&nbsp;игре, где важны не&nbsp;пьедесталы, медали
									и&nbsp;турнирные таблицы, а&nbsp;по-настоящему важные поступки за&nbsp;ними.</p>
								<p>У&nbsp;нас есть много идей
									и&nbsp;проектов, которые сделают спорт лучше. У&nbsp;тебя тоже?<br> Тогда присоединяйся
									к&nbsp;команде,
									чтобы
									создавать крутые решения вместе с&nbsp;FONBET</p>
							</div>
						</div>

						<div class="about__img">
							<img src="img/about/photo.png" alt="">
						</div>
					</div>
					<div class="about__fonteam">
						<img src="img/about/fonteam.png" alt="">
					</div>
				</div>
			</section>

			<section class="info">
				<section class="join" id="join">
					<div class="join__border">
						<img src="img/join/border.png" alt="">
					</div>
					<div class="container">
						<div class="join__wrap">
							<h2 class="join__title">присоединяйся к&nbsp;игре!</h2>
							<div class="join__steps">
								<div class="join__steps-item">
									<h3 class="join__steps-item-name">предлагай</h3>
									<p>идеи спортивных проектов c&nbsp;16.10.23 по&nbsp;30.11.23 включительно</p>
								</div>
								<div class="join__steps-item">
									<h3 class="join__steps-item-name">следи</h3>
									<p>за&nbsp;анонсом выбранных Fonteam проектов&nbsp;в декабре 2023</p>
								</div>
								<div class="join__steps-item">
									<h3 class="join__steps-item-name">выиграй</h3>
									<p>реализацию своего проекта от&nbsp;Fonteam в&nbsp;2024&nbsp;году!</p>
								</div>
							</div>
							<a class="join__btn btn btn--white" href="#" data-hystmodal="#form">Вперёд!</a>
						</div>
					</div>
				</section>

				<section class="ideas">
					<div class="container">
						<div class="ideas__head">
							<h2 class="ideas__title title">отправляй идеи в&nbsp;разных направлениях</h2>
							<p>Присылай новые идеи вне рамок!<br> Мы&nbsp;всегда открыты необычным проектам.</p>
						</div>

						<div class="ideas__content js_ideas-slider">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="ideas__item">
											<p class="ideas__item-name ideas__item-name--left">Места силы</p>
											<img src="img/ideas/1.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="ideas__item">
											<p class="ideas__item-name ideas__item-name--bottom-right">команды</p>
											<img src="img/ideas/2.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="ideas__item">
											<p class="ideas__item-name">спортсмены</p>
											<img src="img/ideas/3.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="ideas__item">
											<p class="ideas__item-name ideas__item-name--bottom">своя идея</p>
											<img src="img/ideas/4.png" alt="">
										</div>
									</div>
								</div>
							</div>
							{% include "slider-nav.html" %}
						</div>
					</div>
				</section>
			</section>

			<section class="players" id="players">
				<div class="container">
					<h2 class="players__title">игроки
						<img src="img/players/fonteam-text.png" alt="">
					</h2>
					<div class="players__content js_players-slider">
						<div class="players__content-inner">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="players__item players__item--1">
											<img src="img/players/1.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--2">
											<img src="img/players/2.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--3">
											<img src="img/players/3.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--4">
											<img src="img/players/4.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--5">
											<img src="img/players/5.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--6">
											<img src="img/players/6.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="players__item players__item--7">
											<img src="img/players/7.png" alt="">
										</div>
									</div>
								</div>
							</div>
							{% include "slider-nav.html" %}
						</div>
						<button class="players__btn btn js_players-all" type="button">Все игроки</button>
					</div>
				</div>
			</section>
		</main>
		{% include "footer.html" %}
	</div>
	{% include "modal.html" %}
	<script src="./js/app.min.js"></script>
</body>

</html>