.event {
  display: flex;
  align-items: center;
  color: #fff;
  min-width: 607px;
  max-width: 630px;

  &__logo {
    width: 66px;
    height: 66px;
    object-fit: cover;
    flex-shrink: 0;
    margin: 3px 0 0 auto;

    &--second {
      margin: 3px auto 0 0;
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: 230px;
    margin: 0 4px;
  }

  &__head {
    text-align: center;
    margin: 0 0 4px;
  }

  &__title {
    text-transform: uppercase;
    color: #06DCFF;
    font-size: 11px;
    margin: 0 0 3px;
  }

  &__time {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: 11px;
    color: #06DCFF;
    line-height: 1;
    font-weight: 400;
  }

  &__time-item {
    &:first-child {
      &::after {
        content: '/';
        flex-shrink: 0;
        margin: 0 5px;
      }
    }
  }

  &__live {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    margin: 2px 0 0;
    font-weight: 900;

    &::after {
      content: '';
      width: 7px;
      height: 7px;
      flex-shrink: 0;
      background-color: #CE0000;
      border-radius: 50px;
      margin: 0 0 2px 5px;
    }

    &.hidden {
      display: none;
    }
  }

  &__team-item {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #06DCFF;
    margin: 0 0 0 16px;

    &:first-of-type {
      text-align: right;
      margin: 0 16px 0 0;
    }
  }

  &__nums {
    width: 168px;
    display: flex;
    gap: 5px;
    margin: 0 auto;
  }

  &__nums-item {
    flex: 0 1 33.33%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #051854;
    height: 19px;
    padding: 2px 3px;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
  }
}
