// colors
$c-black: #000000;
$c-white: #ffffff;
$c-red: #E80024;
$c-text--global         : #ffffff;
$c-body-bg             : #000000;
$c-popup-bg              : rgba(0 0 0 / 60%);

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : 'StyreneALC', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 400;
$f-size--global     : 3.2rem;
$l-height--global   : normal;

