// colors
$c-black: #000000;
$c-white: #ffffff;
$c-text--global         : #ffffff;
$c-body-bg             : #051854;
$c-popup-bg              : rgba(0 0 0 / 60%);
$f-family--nekst   : 'Nekst', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : 'StyreneALC', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 400;
$f-size--global     : 2.8rem;
$l-height--global   : 1.25;

