body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: sans-serif;
  font-size: 19px;
  color: #fff;
  font-family: 'StyreneALC';
}

.body-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 100%;
  max-width: 100%;
  text-decoration: none;
}

.fluid-center-block {
  width: 1475px;
  min-width: 1475px;
  display: block;

  @media (max-width: 1902px) {
    width: 1274px;
    min-width: 1274px;
  }

  @media (max-width: 1582px) {
    width: 1090px;
    min-width: 1090px;
  }

  @media (max-width: 1262px) {
    min-width: 886px;
    width: 886px;
  }
}

.body-wrap__bg {
  top: 0;
  right: 0;
  width: 100%
}

.banner-text {
  color: #06DCFF;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 1262px) {
    font-size: 26px;
  }

  &__top {
    margin: 0 0 6px;
  }

  &__bottom {
    position: relative;

    span {
      color: #fff;
      font-size: 64px;
      margin: 0 0 0 2px;

      @media (max-width: 1262px) {
        font-size: 56px;
      }

      &::after {
        content: '*';
        display: inline-block;
        margin: 5px 0 0 4px;
        font-size: 14px;
        vertical-align: top;
      }
    }
  }

  &--aside {
    font-size: 11px;

    @media (max-width: 1582px) {
      font-size: 9px;
    }

    @media (max-width: 1262px) {
      font-size: 7px;
    }

    .banner-text__top {
      margin: 0 0 3px;
    }

    .banner-text__bottom {
      span {
        font-size: 24px;
        margin: 0 0 0 1px;

        @media (max-width: 1582px) {
          font-size: 20px;
        }

        @media (max-width: 1262px) {
          font-size: 16px;
        }

        &::after {
          margin: 3px 0 0 2px;
          font-size: 6px;
        }
      }
    }
  }
}
