.aside {
  padding: 81px 0 0;

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 133px;
    margin: 0 10px;
  }

  &__logo {
    position: relative;
    z-index: 1;
    margin: 0 auto 30px;
    width: 106px;

    canvas {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    min-height: 150px;
  }


  &__content-first {
    margin: -41px -62px 0px;

    canvas {
      width: 100%;
    }
  }


  &__an-btn {
    width: 117px;
    font-size: 11px;
    margin: 1px auto 0;
  }
}
