.header {
  position: relative;
  height: 100px;
  width: 1253px;
  min-width: 1253px;
  margin: 0 auto;



  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 1;
    width: 250px;
    margin-top: -17px;

    canvas {
      width: 100%;
    }
  }

  &__ball {
    position: absolute;
    top: -20px;
    left: 287px;
    width: 230px;

    canvas {
      width: 100%;
    }
  }

  &__bonus {}


  &__bonus-first {
    position: absolute;
    width: 306px;
    top: -17px;
    right: 392px;

    canvas {
      width: 100%;
    }
  }


  &__right {
    width: 249px;
    margin: 25px 28px 0 0;
    transition: all .3s;
  }

  &__an-btn.an-btn {
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
  }

  &__reklama {
    display: flex;
    position: absolute;
    bottom: 22px;
  }

  &__reklama-18 {
    width: 27px;
    margin: 5px 7px 0 0;
  }

  &__reklama-text {
    width: 174px;
    height: auto;
    margin: 6px 0 0;
  }

  &__bottom {
    width: 100%;
    position: absolute;
    bottom: 9px;
    overflow: hidden;
  }

  &__textline {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    will-change: transform;
    backface-visibility: hidden;
    font-weight: 100;
    font-family: sans-serif;
    transform: translateZ(1px) translateX(0);
    white-space: nowrap;
    z-index: 3;
    animation: moveTextRow 30s linear infinite;
  }
}

@keyframes moveTextRow {
  0% {
    transform: translateZ(1px) translateX(0)
  }

  to {
    transform: translateZ(1px) translateX(calc(-100% - 67.4em))
  }
}
