.aside {
  padding: 53px 0 0;


  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 133px;
    margin: 0 6px;

  }

  &__logo {
    width: 115px;
    margin: 0 auto 27px;

    svg {
      max-width: 100%;
    }
  }

  &__content {
    position: relative;
  }

  &__content-text {
    min-height: 67px;
    margin: 0 0 0 6px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__content-text-first {
    font-weight: 400;
    font-size: 18px;

    p {
      &:first-child {
        font-size: 13px;
      }

      &:last-child {
        &::after {
          display: inline-block;
          margin: 0 0 0 3px;
          font-size: 8px;
          vertical-align: super;
          transform: translateY(-2px);
          content: '**';
        }
      }
    }
  }

  &__content-text-second {
    position: absolute;
    top: 6px;
    left: 6px;
    font-weight: 900;
    font-size: 9px;
  }

  &__cup {
    width: 33px;
    margin: 23px auto;

    canvas {
      width: 100%;
    }
  }

  &__an-btn {
    width: 100%;
    margin: 27px auto 0;
    font-size: 16px;

  }
}