body {
  height: 100%;
  color: #ffffff;
  font-size: 19px;
  font-family: sans-serif;
  font-family: StyreneALC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

b {
  font-weight: 900;
}

.body-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-decoration: none;


  &--first {
    .text-animate--first {
      p {
        transform: translateY(-100px);
        animation: fadeInOut1 4.8s ease-in-out forwards;

        &:last-child {
          animation-delay: .05s;
        }
      }
    }
  }

  &--second {
    .text-animate--second {
      p {
        transform: translateY(100px);
        animation: fadeInOut2 4.8s ease-in-out forwards;

        &:last-child {
          animation-delay: .05s;
        }
      }
    }

    .header__prize {
      transform: translateY(100px);
      opacity: 1;
      animation: fadeInOut2 4.8s ease-in-out forwards;
    }

    .header__bonus {
      transform: translateX(245px);
    }

    .header__right {
      width: 286px;
      margin: 16px 19px 0 0;

      .an-btn {
        height: 49px;
      }
    }

    .header__right-text {
      display: block;
      opacity: 0;
    }
  }
}

.fluid-center-block {
  display: block;
  width: 1300px;
  min-width: 1300px;
}

.blue {
  color: #06DCFF;
}

.logo-animate {
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: space-between;

  path {
    opacity: 0;
    transition: opacity .3s, transform .3s;
    animation: fadeInOutLogo 10s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: .20s;
    }

    &:nth-child(2) {
      animation-delay: .30s;
    }

    &:nth-child(3) {
      animation-delay: .40s;
    }

    &:nth-child(4) {
      animation-delay: .50s;
    }

    &:nth-child(5) {
      animation-delay: .60s;
    }

    &:nth-child(6) {
      animation-delay: .70s;
    }

    &:nth-child(7) {
      // animation-delay: 1.20s;
    }
  }
}

.text-animate {
  overflow: hidden;

  p {
    opacity: 0;
    transition: opacity .3s, transform .3s;
  }
}

@keyframes fadeInOut1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  12% {
    transform: translateY(3px);
    opacity: 1;
  }

  16% {
    transform: translateY(-3px);
    opacity: 1;
  }

  20%,
  84% {
    transform: translateY(0);
    opacity: 1;
  }

  88% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeInOut2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  12% {
    transform: translateY(-3px);
    opacity: 1;
  }

  16%,
  84% {
    transform: translateY(0);
    opacity: 1;
  }

  88% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeInOutLogo {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  8% {
    transform: translateX(10px);
    opacity: 1;
  }

  11% {
    transform: translateX(20px);
    opacity: 1;
  }

  13%,
  80% {
    transform: translateX(15px);
    opacity: 1;
  }

  85% {
    transform: translateX(25px);
    opacity: 1;
  }

  95%,
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}