.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow-x: hidden;

  &__inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1150px;
  }

  &__layer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__balls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__ball {
    position: absolute;
    transition: transform .3s;
  }

  &__fball {
    width: 309px;
    height: 250px;
    top: -36px;
    right: -75px;

    &.animate {
      animation: gravity 2s ease-in-out alternate infinite;
    }
  }

  &__fball2 {
    top: -54px;
    left: 89px;
    width: 250px;
    height: 256px;

    &.animate {
      animation: gravity 2s ease-in-out alternate infinite;
    }
  }

  &__bball {
    width: 299px;
    height: 303px;
    top: 580px;
    right: 55px;

    &.animate {
      animation: gravityReverse 2s ease-in-out alternate infinite;
    }
  }

  &__tball {
    width: 93px;
    height: 91px;
    top: 570px;
    left: 88px;

    &.animate {
      animation: gravityReverse 2s ease-in-out alternate infinite;
    }
  }
}

@keyframes gravity {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(.5em);
  }
}

@keyframes gravityReverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-.5em);
  }
}
