.aside {
  padding: 69px 0 0;

  @media (max-width: 1582px) {
    padding: 54px 0 0;
  }

  @media (max-width: 1262px) {
    padding: 60px 0 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 133px;
    margin: 0 10px;

    @media (max-width: 1582px) {
      width: 107px;
      margin: 0 4px;
    }

    @media (max-width: 1262px) {
      width: 86px;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    margin: 0 auto 30px;
    width: 106px;

    canvas {
      width: 100%;
    }

    @media (max-width: 1582px) {
      width: 90px;
    }

    @media (max-width: 1262px) {
      width: 70px;
      margin: 0 auto 16px;
    }
  }

  &__content {
    position: relative;
    min-height: 150px;

    @media (max-width: 1582px) {
      min-height: 122px;
    }

    @media (max-width: 1262px) {
      min-height: 110px;
    }
  }


  &__content-first {
    margin: -41px -62px 0px;

    @media (max-width: 1582px) {
      margin: -40px -54px 0;
    }

    @media (max-width: 1262px) {
      margin: -40px -44px 0;
    }

    canvas {
      width: 100%;
    }
  }

  &__an-btn {
    width: 117px;
    font-size: 11px;
    margin: 1px auto 0;

    @media (max-width: 1902px) {}

    @media (max-width: 1582px) {
      width: 100%;
      font-size: 9px;
      margin: 1px auto 0;
    }

    @media (max-width: 1262px) {
      width: 85px;
      padding: 5px;
      margin: -1px auto 0;
    }
  }
}
