.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  img {
    max-width: none;
    width: 1950px;
    min-height: 100%;
    height: 1080px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1921px) {
      width: 100%;
      left: 0;
      transform: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #051854;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
