.header {
  position: relative;
  height: 140px;
  width: 1427px;
  min-width: 1427px;
  margin: 0 auto;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 279px;
    margin: 33px 0 0 30px;
  }

  &__bonus {
    width: 484px;
    position: absolute;
    top: 11px;
    transform: translateX(-31%);
    left: 50%;
  }

  &__bonus-first {}

  &__bonus-first-text {
    position: absolute;
    top: 5px;
    left: 26px;
  }

  &__bonus-first-img {
    width: 333px;
    position: absolute;
    top: -8px;
    right: -3px;
  }

  &__bonus-second {
    position: absolute;
    top: 7px;
    left: -33%;
  }

  &__right {
    width: 250px;
    margin: 43px 56px 0 0;
  }

  &__an-btn.an-btn {
    width: 100%;
    height: 41px;
    border-radius: 8px;
    font-size: 18px;
  }

  &__reklama {
    display: flex;
    position: absolute;
    left: 27px;
    bottom: 26px;
  }

  &__reklama-18 {
    width: 25px;
    margin: 0 8px 0 0;
  }

  &__reklama-text {
    width: 130px;
    height: auto;
    margin: 2px 0 0;
  }

  &__bottom {
    width: 99%;
    position: absolute;
    bottom: 5px;
    left: 8px;
    overflow: hidden;
  }

  &__textline {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    will-change: transform;
    backface-visibility: hidden;
    font-weight: 100;
    font-family: sans-serif;
    transform: translateZ(1px) translateX(0);
    white-space: nowrap;
    z-index: 3;
    animation: moveTextRow 30s linear infinite;
  }
}

@keyframes moveTextRow {
  0% {
    transform: translateZ(1px) translateX(0)
  }

  to {
    transform: translateZ(1px) translateX(calc(-100% - 67.4em))
  }
}
