@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "GothamPro";

  font-display: swap;
  src:
    url("../fonts/GothamPro/GothamPro.woff2") format("woff2"),
    url("../fonts/GothamPro/GothamPro.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "GothamPro";

  font-display: swap;
  src:
    url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "DrukTextWideCyr";

  font-display: swap;
  src:
    url("../fonts/DrukTextWideCyr/DrukTextWideCyr-medium.woff2") format("woff2"),
    url("../fonts/DrukTextWideCyr/DrukTextWideCyr-medium.woff") format("woff");
}


