.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  overflow: hidden;

  @include tablet {
    gap: 40px;
  }

  @include phone {
    gap: 20px;
    min-height: 100dvh;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__star {
    position: absolute;
    z-index: -1;

    canvas {
      width: 100%;
    }

    &--1 {
      top: 6%;
      left: -6%;
      width: 21rem;
      transform: rotate(83deg);

      @include tablet {
        top: 6%;
        right: 32%;
        left: auto;
        width: 33px;
        transform: rotate(-29deg);
      }
    }

    &--2 {
      top: -9%;
      right: 28%;
      width: 22rem;

      @include tablet {
        top: 20%;
        right: auto;
        left: -9%;
        width: 77px;
      }
    }

    &--3 {
      top: 19%;
      right: -2%;
      width: 18rem;

      @include tablet {
        top: 40%;
        right: -14%;
        width: 135px;
      }
    }

    &--4 {
      top: 33%;
      left: 11%;
      width: 23rem;
      transform: rotate(47deg);

      @include tablet {
        display: none;
      }
    }

    &--5 {
      top: 74%;
      left: 3%;
      width: 10rem;
      transform: rotate(47deg);

      @include tablet {
        display: none;
      }
    }

    &--6 {
      right: -8%;
      bottom: 0;
      width: 37rem;
      transform: rotate(-1deg);

      @include tablet {
        display: none;
      }
    }
  }

  &__ball {
    position: absolute;
    z-index: -1;
    display: inline-block;
    width: 2.2rem;
    height: 2.3rem;
    background: url('../img/page/ball.png') no-repeat center/contain;

    @include tablet {
      width: 7px;
      height: 7px;
    }

    &.animate {
      animation: gravity 3s ease-in-out alternate infinite;
    }

    &--white {
      background-image: url('../img/page/ball-white.png');
    }

    &--1 {
      top: 37%;
      left: 4%;

      @include tablet {
        top: 9%;
        left: 30%;
      }
    }

    &--2 {
      top: 20%;
      left: 21%;

      &.animate {
        animation-name: gravityReverse;
      }

      @include tablet {
        top: 23%;
        left: 45%;
      }
    }

    &--3 {
      top: 10%;
      left: 53%;

      @include tablet {
        top: 29%;
        right: 5%;
        left: auto;
        width: 13px;
        height: 13px;
      }
    }

    &--4 {
      top: 43%;
      right: 18%;

      &.animate {
        animation-name: gravityReverse;
      }

      @include tablet {
        display: none;
      }
    }

    &--5 {
      bottom: 7%;
      left: -1%;
      width: 4.1rem;
      height: 4.1rem;

      @include tablet {
        display: none;
      }
    }

    &--6 {
      bottom: 11%;
      left: 15%;
      width: 3.6rem;
      height: 3.7rem;

      &.animate {
        animation-name: gravityReverse;
      }

      @include tablet {
        display: none;
      }
    }

    &--7 {
      bottom: 9%;
      left: 55%;

      @include tablet {
        display: none;
      }
    }

    &--8 {
      top: 52%;
      right: 6%;
      width: 5rem;
      height: 5rem;

      &.animate {
        animation-name: gravityReverse;
      }

      @include tablet {
        display: none;
      }
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &__wrap {}

  &__gr {
    display: flex;
    justify-content: center;
    margin: -4rem 0 0;
  }

  &__gr-inner {
    width: 87rem;
    overflow: hidden;

    canvas {
      width: calc(100% + 54rem);
      margin: 0 0 0 -34rem;
    }
  }

  &__title {
    margin: -19rem 0 1rem;
    font-weight: 900;
    font-size: 5.6rem;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      margin: -120px 0 15px;
      font-size: 28px;
    }

    @include phone {
      margin-top: -60px;
      font-size: 23px;
    }

    span {
      display: inline-block;
      color: #00F0FF;
      font-weight: 700;
      font-size: 14.8rem;
      font-family: $f-family--nekst;
      line-height: 1.1;

      @include tablet {
        font-size: 80px;
      }

      @include phone {
        font-size: 50px;
      }
    }
  }

  &__list {
    display: flex;
    gap: 7rem;
    justify-content: center;
    margin: 0 0 2rem;
    counter-reset: list-num;

    @include tablet {
      flex-direction: column;
      gap: 20px;
      justify-content: flex-start;
      max-width: 700px;
      margin: 0 auto 20px;
    }

    li {
      display: flex;
      align-items: center;
      max-width: 51rem;

      @include tablet {
        max-width: none;

        &:first-child {
          &::before {
            margin: 0 24px 0 0;
          }
        }
      }

      sup {
        display: inline-block;
        font-size: 1.1rem;
        transform: translateY(-1rem);
      }

      &::before {
        flex-shrink: 0;
        margin: 0 3rem 0 0;
        font-weight: 700;
        font-size: 11rem;
        font-family: $f-family--nekst;
        content: counter(list-num);
        counter-increment: list-num;

        @include tablet {
          margin: 0 16px 0 0;
          font-size: 60px;
          line-height: 1;
        }

        @include phone {
          font-size: 55px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 87.3rem;
    margin: 0 auto;

    @include phone-big {
      flex-wrap: wrap;
    }
  }

  &__btn {
    flex: 0 1 calc(50% - 2rem / 2);

    @include phone-big {
      flex: 0 1 100%;
    }
  }

}

@keyframes gravity {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(.3em);
  }
}

@keyframes gravityReverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-.3em);
  }
}