.title {
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include tablet {
    font-size: 32px;
  }

  @include phone-big {
    font-size: 26px;
  }

  @include phone {
    font-size: 20px;
  }
}