
.title__freebet span._top{
  display: inline-block;
  font-size: 20%;
  margin-top: 4%;
  vertical-align: top;
}

.modal .close {
  top:0.8em;
}

@media print, screen and (min-width: 48em) {

.b-match__info-team {
    max-width: 10em;
}}


@media print, screen and (min-width: 48em) {

.title {

  flex-wrap: wrap;
    flex-direction: column;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}


.title__txt {
  font-size: 6em;

}

.title__info {
  padding-left: 0;
}

.title__freebet.font2 {
  position: relative;
}

}

.title__pic {
  position: absolute;
  left:100%;
  width: 28rem;
  height: auto;
  pointer-events: none;

  top:0;
  margin-left: 10rem;
}


.title__pic_mobile  {
  width: 20rem;
  height: auto;
  margin: -3rem auto 3rem auto;
}

.mobtitle {
  margin-left:-22rem;
}
